body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DE;
  font-family: sans-serif;
}
header, footer {
  text-align: center;
  background-color: #C6B4CE;
  padding: 20px 0;
}
a {
  color: #3C5186;
  text-decoration: none;
}
h1 {
  font-size: 250%;
}
